.first{
    position: relative;
    width: 100%;
    height: 120;
    background-image: url(img/bgimg.gif);
}
.navbar{
    position: absolute;
    width: 85%;
    margin: auto;
    top: 15px;
}
.navbar ul{
    gap: 90px;
    justify-content: space-around;
}

.icon{
    display: flex;
}
.background{
    background-color: #191919;
}
.ca2{
    position: relative;
    top: 20px;
}
.caimg{
    width: 123;
    height: 160;
}
.c2{
    display: flex;
    justify-content: space-between;
}
.f1{
    display:grid;
    grid-template-columns: auto auto;
    width: 90%;
    margin: auto;
    
}
.f1 img{
    width: 665;
    height: 145;
    border-radius: 2%;
}

