.first{
    position: relative;
    width: 100%;
    height: 120;
    background-image: url(img/bgimg.gif);
}
.navbar{
    position: absolute;
    width: 85%;
    margin: auto;
    top: 15px;
}
.navbar ul{
    gap: 90px;
    justify-content: space-around;
}

.icon{
    display: flex;
}
.background{
    background-color: #191919;
}
.ca2{
    position: relative;
    top: 5vh;
}
.caimg{
    width: 123;
    height: 160;
}
.c2{
    display: flex;
    justify-content: space-between;
}
.f1{
    display: flex;
    width: 85%;
    margin: auto;
    margin-top: 8vh;
    gap: 15px;
}
.f1 img{
    border-radius: 10px;
}
.bank{
    width: 85%;
    margin: auto;
    margin-top: 8vh;
}
.bank h2{
    color: white;
    font-weight: 500;
    font-size: 29px;
}
.bank img{
    width: 1347;
    height: 87;
    border-radius: 10px;
}
.what{
    width: 85%;
    margin: auto;
    margin-top: 8vh;
}

.what h2{
    color: white;
    font-weight: 500;
    font: 29px;
}
.g2{
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 85%;
    margin: auto;
}
.g2 img{
    border-radius: 10px;
}
.g3{
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 85%;
    margin: auto;
    gap: 12px;
}
.g3 img{
    border-radius: 10px;
}
.sam{
    width: 85%;
    margin: auto;
    margin-top: 3vh;
}
.sam img{
    border-radius: 10px;
}
.single{
    width: 85%;
    margin: auto;
    margin-top: 3vh;
}
.er{
    width: 85%;
    margin: auto;
}
.er img{
    border-radius: 10px;
}
.foru{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
}
.gg{
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 85%;
    margin: auto;
    gap: 12px;
    margin-top: 4vh;
}
.gg img{
    border-radius: 10px;
}
.why{
    width: 85%;
    margin: auto;

}
.why img{
    border-radius: 10px;
}
.cromac{
    margin-top: 4vh;
}
.cflex{
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-between;
}
.fm{
    border-radius: 10px;
}